@model IEnumerable<hotel.Models.Hotelboeking>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<p>
    <a asp-action="Reserveringspagina">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Naam)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Telnummer)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Kamernummer)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Naam)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Telnummer)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Kamernummer)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new {  id=item.BoekingId  }) |
                @Html.ActionLink("Details", "Details", new {  id=item.BoekingId  }) |
                @Html.ActionLink("Delete", "Delete", new {  id=item.BoekingId  })
            </td>
        </tr>
}
    </tbody>
</table>
